*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1 rem is
  font-size: 62.5%;
}

/* properties related to font are usually inherited so we using the body element to set universal font */
body {
  /* any borders and padding margin are no longer added to the total box size */
  box-sizing: border-box;
}
